/* 
Banner-words-wrapper ---------------------------------------- */

.section-about {
    display: block;
    align-content: center;
    overflow: hidden;
}

// .about_row {
//     position: relative;
//     width: 1140px
// }

.about__banner {
    position: absolute;
    text-align: center;
}





.hover-white a:hover {
 color:#fff
}

.banner-headline {
 font-size:2.5rem;
 line-height:1.2;
}

.banner-headline.medium {
 font-size:1.4rem;
}

.timeline-center {
    align-items: center;
    text-align: center;
    align-self: center;

}



/*  
MOCKUPS  -------------------------------------------------------- */

/* MOCKUPS BUNDLE ----------------------------------------------- */

.mockup-scene {
    position: relative;
}


.bundle-ipad, .bundle-iphone, .bundle-macbookpro {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
}


// .bundle-macbookpro {
//     position: absolute;
//     top: 0;
//     left: 0;
// }

/* MOCKUPS iPhone ----------------------------------------------- */

.mockup-iphone {
    display: block;
    margin-right: 0px;
    padding-right: 0px;
    position: relative;
    right: -15.5px;

}





#video-id-xs {
    /* position: relative; */
    margin-bottom: 85px;
    z-index: 3;
}






/*
carousel configuration  ------------------------------------ */ 

.owl-theme .owl-dots .owl-dot span {
width:12px;
height:12px;
border-radius:50%;
background:#d5d5d5;
margin:5px 4px 0 4px;
border:2px solid #d5d5d5
}

.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
background:#232323;
border-color:#232323
}

.owl-theme p {
    color: white;
}

.bg-vid {
position:absolute;
top:0;
left:0;
min-width:100%;
min-height:100%
}

/* -------------------- ABOUT ME SECTION --------------------*/




/* Experience section logo  -> Logos greyed out, with color appearing on hover or visited  ---- START ---- */
.bloomio img, .dell img {
filter: grayscale(100%);
-webkit-filter: grayscale(100%);
-moz-filter: grayscale(100%);
}

.fontaconsult img, .artmyn img {
filter: brightness(200%) opacity(40%);
-webkit-filter: brightness(200%) opacity(40%);
-moz-filter: brightness(200%) opacity(40%);
}
    

.bloomio img:hover, .dell img:hover, .fontaconsult img:hover, .artmyn img:hover, .bloomio img:visited, .dell img:visited, .fontaconsult img:visited, .artmyn img:visited {
    filter: none;
}

/* Experience section logo ----- END ---- */


.about-box {
border-radius:5px;
-webkit-box-shadow:0 0 0 2px rgba(0,0,0,0.2) inset;
box-shadow: 0 0 0 2px rgba(0,0,0,0.2) inset;
display:block;
margin-right:0;
margin-top:0;
position:relative
}

.bg-extra-medium-gray .about-box,
.bg-dark-gray .about-box {
-webkit-box-shadow:0 0 0 2px rgba(255,255,255,0.2) inset;
box-shadow:0 0 0 2px rgba(255,255,255,0.2) inset
}



/* -- Parallax Window Section--- */
/* requires sources to Jquery and Parallax.js in the HTML doc */

.parallax {
    min-height: 50px;
    padding: 35px 35px 80px 35px;
    background: transparent;
}

.parallax p {
    z-index: 1; 
}

.parallax-info {
    position: relative;
    z-index: 1; 
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/* -- Parallax Window Section END --- */


// LOGO Certifications 
.togaf, .itil, .microsoft, .vmware, .citrix {
    height: 50px;
    width: auto;
    margin: 15px 15px; 
}

// PRO Studies Certifications 
.wharthon-pro, .imd-pro, .helsinki-pro, .groningen-pro, .swissarmed-pro, .open2study-pro, .cobit5-pro, .cobit2019-pro, .togaf-pro, .archimate-pro, .it4it-pro, .uml-pro, .bpmn-pro, .bid-pro, .pmi-pro, .jira-pro, .agile-pro, .scrum-pro, .kanban-pro, .macosx-pro, .delltools-pro, .vbscript-pro, .powershell-pro, .salesforce-pro, .salesforce-einstein-pro, .salesforce-tableau-pro, .stationx-pro, .html-pro, .css-pro, .js-pro, .jquery-pro, .sass-pro, .reactjs-pro, .angularjs-pro, .nodejs-pro, .python-pro, .r-pro, .flutter-pro, .bootstrap-pro, .wordpress-pro, .ux-ui-pro, .adobe-pro {
    height: 70px;
    width: auto;
    margin: 5px 5px; 
}


.pro-fes {
    margin: 15px 0px 0px 0px;
    font-weight: 300;
}

.pro-fes2 {
    margin-top: 10px;
    font-size: 18px;
    font-weight: 500;
    text-align: center;
}

// PRO Tools Certifications 
.tools {
    height: 40px;
    width: auto;
    margin: 10px 10px 0px 0px; 
}

