.social.text-light-gray a {
    margin: 0 12px;
}

.fab, .fas {
 font-size: 16px;
} 

.fa-linkedin-in:hover {
    color: #0076B4;
}

.fa-meetup:hover {
    color: #ED1C40;
}

.fa-twitter:hover {
    color: #00ACED;
}

.fa-whatsapp:hover {
    color: rgb(29, 155, 29);
}

.fa-skype:hover {
    color: #00B0EC;
}

.fa-envelope:hover {
    color: #1D6FB5;
}

.fa-mobile-alt:hover {
    color: rgb(33, 49, 63);
}